body {
  font-size: 12px; }

ul {
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end; }
  ul li {
    padding-right: 2em; }
    ul li span {
      color: #3fc6a5;
      font-size: 3em; }

h1 {
  border: 1px solid yellow;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center; }
