body {
  font-size: 12px;
}


ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  z-index: 2;
  top: 3.2em;
  right: 0em;
  max-width: 60vw;

  li {
    padding-right: 4em;

    span {
      color: #9af4e5;
      font-size: 2em;
      font-family: 'Roboto';
    }
  }
}

.header-banner {
  background-image: url('../img/lemuel-reyes-banner.png');
  background-size:contain;
  background-repeat: no-repeat;
  height: 1080px;
}

.hero-sub-text {
  font-size: 4em;
  font-family: 'Roboto', sans-serif;
  color: #00E2BD;
  font-weight: bold;
  position: absolute;
  top: 80%;
  right: 1%;
}
