body {
  font-size: 12px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;

  li {
    padding-right: 2em;

    span {
      color: #3fc6a5;
      font-size: 3em;
    }
  }
}

h1 {
  border: 1px solid black;
  filter: blur(20px);
}
